@import "reset.css";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

#btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}